<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6671JimmyBoh.BrewmasterDemo" Publisher="CN=E573DB31-D99B-4E66-A90A-A8DFD8E33B9D" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Brewmaster Demo</DisplayName>
    <PublisherDisplayName>JimmyBoh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Brewmaster.Sample.Win8.App">
      <VisualElements DisplayName="Brewmaster Demo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Simple interactive samples that demonstate various aspects of the BrewMaster Engine." ForegroundText="dark" BackgroundColor="#008080">
        <DefaultTile ShowName="allLogos" ShortName="Brewmaster Demo" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>